.foot
  padding: 10px 0 12px  
  border-bottom: 1px solid #e1e1e3
  .foot-copyright
    margin-top: 37px;
    color: #d1d1d1
    text-align: center
  .foot-nav
    display: flex
    justify-content: center
    font-size: 13px
    margin-top: 20px
    a
      padding: 0 6px
      color: #adadad
    a + a
      border-left: 1px solid #998ca6