.login-head
  position: relative
  height: 56px
  background-color: #fcfcfc
  border-bottom: 1px solid #ff6633
  .login-back
    position: absolute
    top: 0
    bottom: 0
    left: 16px
    line-height: 56px
    transform:rotate(90deg)
    font-size: 24px
    color: #fe855d
  .login-title
    line-height: 56px
    font-size: 18px
    text-align: center
    color: #000