.menu-list 
  text-align: center
  background-color: #fff
  .menu-item
    float: left
    width: 20%
    margin-top: 24px
    .menu-img-wrap
      margin-bottom: 8px
      img
        width: 60%
        vertical-align: bottom
.nav-dot-container
  padding: 10px 0
  text-align: center
  background-color: #fff
  .nav-dot
    display: inline-block
    width: 10px
    height: 10px
    border-radius: 50%
    background-color: #ccc
  .nav-dot + .nav-dot
    margin-left: 8px