$common-login-width = 91.48%
.login-body
  flex-grow: 1
.login-container
  margin-top: 20px
  padding-left: 19px
  font-size: 14px
  background-color: #fff
  .login-line
    display: flex
    height: 55px
    align-items: center
    .login-left
      width: 75px
      flex-basis: 75px
      flex-shrink: 0
    .login-input
      color: #757575
      flex-grow: 1
      width: 40px
      border-color: transparent
    .login-input:focus 
      outline: none
    .login-verify-btn
      width: 112px
      flex-basis: 112px
      flex-shrink: 0
      padding:5px 0
      color: #333
      border: 1px solid #bbb
      background-color: #fff
      border-radius: 4px
  .login-line:first-of-type
    border-bottom: 1px solid #f0f0f0
.login-des
  margin: 4px 0 14px
  font-size: 14px
  text-align: center
  color: #999
.login-btn-wrap
  text-align: center
  .login-btn
    font-size: 14px
    width: $common-login-width
    height: 40px
    border-width: 0
    border-radius: 4px
    color: #fff
    line-height: 40px
    background-color: #ff6633
.login-account-wrap
  width: $common-login-width
  margin: 14px auto 0
  text-align: right
  color: #466889
  font-size: 14px
.login-third-wrap
  display: flex
  width: $common-login-width
  margin: 92px auto 0
  align-items: center
  .login-third-line
    flex-grow: 1
    height: 2px
    background-color: #d7d7d7
  .login-third-text
    margin: 0 16px
    font-size: 14px
    color: #cbcbcb
.login-thirdway-wrap
  display: flex
  width: $common-login-width
  margin: 24px auto 0
  justify-content: space-around
  align-items: center
  .login-thirdway-item
    width: 44px
    height: 43px
    background: url('./imgs/icon-sprite.png') no-repeat
  .login-thirdway-item.login-thirdway-qq
    background-position: 0 0
  .login-thirdway-item.login-thirdway-wb
    background-position: 0 -53px