.app-container
  text-align: center
  background-color: #fff
  .app-img 
    display: block
    width: 100%
  .app-open 
    display: inline-block
    padding: 14px 12px
    font-size: 16px
    color: #ff6633
    border: 1px solid #ff6633 
    border-radius: 3px
  .app-download
    display: inline-block
    padding: 15px 13px
    margin-left: 19px
    font-size: 16px
    border-radius: 3px
    background-color: #ff6633
    color: #fff