@import "~common/stylus/variable.styl";

.theme-container
  display: flex
  margin-top: $common-mg-top
  padding: 12px 0
  background-color: $bg-white
  .theme-item
    display: flex
    width: 50%
    flex-basis: 50%
    justify-content: space-around
    align-items: center
    .theme-content
      .theme-title
        font-size: 16px 
      .theme-des
        margin-top: 6px
        color: #999
    .theme-img
      width: 58px
      height: 58px