.head
  display: flex
  height: 63px
  justify-content: space-around
  align-items: center
  background-color: #ff6633
  font-size: 14px
  .head-city
    color: #fff
  .head-search
    width: 71.06%
    height: 38px
    line-height: 38px
    color: #b8b8b8
    border-radius: 20px
    background-color: #fff
    .head-search-icon
      margin: 0 6px 0 16px
      font-size: 20px
  .head-person
    color: #fff9f7
    font-size: 24px
 